[submodule "Visual_Speech_Recognition_for_Multiple_Languages"]
	path = Visual_Speech_Recognition_for_Multiple_Languages
	url = https://github.com/Osmanoor/Visual_Speech_Recognition_for_Multiple_Languages
